h1{
	color: #E5FFE0;
	text-align: center;
	text-shadow: 2px 2px 2px #E0FFEA;
}

h2{
	font-family: monospaces;, serif;
	font-style: italic;
	color: #FF764A;
}

h3{
	color: #FF764A ;
}

p{
	background-color: #FFE0E5;
	border-radius: 5px;
}

body{
	font-family: cursive, serif;
	cursor: pointer;
	background-color: mintcream;
	background-image: url(sak.gif);
	background-repeat: repeat;
	background-size: 1000px 500px;

}

img {
  width: 500px;
  height: 255px;
  object-fit: cover;
  border-radius: 50px;
}

video{
	border-radius: 6px;
}

#meme {
	 filter: saturate(40);
}
